@import "../../../../styles/colors";

textarea {
  width: 100%;
  border: none;
}

.avi-form-control {
  border: $control-border solid 1px;
  margin-top: 3px;
}

.avi-form-control.error {
  border: $red-900 solid 1px;
}

.required {
  color: $red-900;
}

.avi-validation {
  height: 30px;
  color: $red-900;
  font-weight: 700;
}
